  <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Handwriting Demo| Principal</title>
        <!-- Horizon CSS -->
        <link href="https://www.principalcdn.com/css/horizon/v2/horizon.min.css" rel="stylesheet">
        <!-- Application specific CSS -->
        <link href="[URL TO APP CSS]" rel="stylesheet">
        <!-- Optional favicon and apple/android homescreen icons -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="shortcut icon" type="image/x-icon" href="https://www.principalcdn.com/css/horizon/v2/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="https://www.principalcdn.com/css/horizon/v2/apple-touch-icon-precomposed.png">
        <link rel="shortcut icon" type="image/x-icon" href="https://www.principalcdn.com/css/horizon/v2/apple-touch-icon.png">
      </head>
      <body>
         <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-principal-brand" href="#">
            </a>
          </div>
        </div>
      </nav>
         <div class="container">
           <form method=post action=/ml enctype=multipart/form-data>
              <input type=file name=file><br>
                 <input type=submit value=Upload class="btn btn-primary btn-sm">
            </form>
             {% for line in data_clean %}
                {{line}}
             <br>
             {% endfor %}
        <div style="display:{{status}}">
           <hr>
           <div class="row">
           <embed src="{{ url_for('static', filename=filename) }}" type="application/pdf"   height="600px" width="100%">
           </div>
           <hr>
           <div class="row">
             <h3>Extracted data</h3>
             <table class="table">
               <tr>
                 <td>Processed Text</td>
                 <td></td>
               </tr>
             </table>
             </div>
            <hr>
        </div>
         </div>
        <!-- Horizon JS -->
        <script src="https://www.principalcdn.com/css/horizon/v2/horizon.min.js"></script>
        <!-- Application specific JS -->
        <script src="[URL TO APP JS]"></script>
      </body>
    </html>